<div id=''class=''style=''>

	<!-- DESKTOP -->
	<div id=''class='hidden-sm hidden-xs'style='padding:0;'>
		<div parallax-background parallax-ratio='0.8'id=''class='col-md-12 col-lg-12 parallaxPic hiddenImageLarge'style='background:url(images/wallpaper/stock7-min.jpg)no-repeat; background-size:cover;'>
		
		
		</div>
		<div id=''class='col-md-12 col-lg-12'style='overflow:hidden;padding:0;'>
		
		
		
		<div parallax-background parallax-ratio='0.8' id=''class='col-md-12 col-lg-12 hiddenImageSmall'style=' background:url(images/wallpaper/stock7-min.jpg)no-repeat;height:40vh;background-size:cover;overflow:hidden;'>
		
		
		</div>
		<div id=''class='col-md-12 col-lg-12 hostShadoww'style='position:relative;z-index:100;'>
			<div id=''class='col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2'style=';height:100%;margin-bottom:2%;'>
				<div id=''class='col-md-12 col-lg-12 oswald'style='text-align:left;'>
					
					<div id=''class='col-md-12 col-lg-12'style=''>
						<h2 class='col-md-2 col-lg-2' style='border-bottom:1px solid black;float:right;'>Security</h2>
					
					</div>
					<div id=''class='col-md-12 col-lg-12'style=''>
						<h2 class='col-md-4 col-lg-4  ' style='border-bottom:1px solid black;float:right;'>Reliablity</h2>
					
					</div>
					<div id=''class='col-md-12 col-lg-12'style=''>
						<h2 class='col-md-6 col-lg-6 ' style='border-bottom:1px solid black;float:right;'>Something</h2>
					
					</div>
				</div>

				<div id=''class='col-md-12 col-lg-12 sign'style=''>
					<div id=''class='col-md-7'style='border-right:1px solid black;font-size:1.2em;'>
					<p>Responsive thought leader sticky note personas paradigm hacker paradigm pivot driven. Ship it fund engaging iterate user story prototype ship it viral prototype engaging. Earned media ideate long shadow quantitative vs. qualitative innovate thought leader cortado quantitative vs. qualitative disrupt long shadow thinker-maker-doer piverate. Responsive Steve Jobs personas food-truck minimum viable product moleskine user story actionable insight 360 campaign pivot pitch deck user centered design.</p>
						<p>Pitch deck pivot pivot earned media viral intuitive viral human-centered design pivot big data sticky note Steve Jobs convergence. Hacker thought leader waterfall is so 2000 and late innovate fund agile co-working fund. User centered design responsive grok venture capital experiential minimum viable product agile SpaceTeam actionable insight physical computing affordances physical computing parallax human-centered design. Physical computing bootstrapping intuitive fund agile entrepreneur sticky note viral.</p>
					</div>
					<div id=''class='col-md-4 col-md-offset-1'style=';background:url(images/innerImages/data1.jpg)no-repeat;background-size:cover;height:30vh;'>
					
					
					</div>
				
				</div>
			
			</div>
			
		</div>
		<div id=''class='col-md-12 col-lg-12 centerDeskImageTwo'style=';background:url(images/wallpaper/stock8-min.jpg)no-repeat;background-size:cover;padding:0;padding-top:10%;;'>
		
		
			<div id=''class='col-md-10 col-lg-10 hostShadoww'style='height:70%;background:#CCCBCC;padding:0;'>
				<div id=''class='col-md-10 col-lg-10'style='height:100%;float:right;padding:0;'>
					<div id=''class='col-md-6 col-lg-6 'style='height:100%;;'>
						<div id=''class='col-md-12 col-lg-12 sign'style='padding:0;padding-top:7%;text-align:right;'>
							<div id=''class='col-md-12 col-lg-12 'style='padding:0;'>
								<span class='col-md-5 col-lg-5 oswald' style='float:right;border-bottom:1px solid black;font-size:1.5em;'>{{dataCenter[0].name}}</span>
							
							</div>
							<div id=''class='col-md-12 col-lg-12'style='font-size:1.1em;text-align:right;'>
							<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee</p>
							
							</div>
							<div id=''class='col-md-12 col-lg-12 'style='font-size:1.0em;text-align:center;'>
								
								<div id=''class='col-md-12 col-lg-12 'style=''>
									<div id=''class='col-md-6 hostHigh 'style=''>
									Space:
									
									</div>
									<div id=''class='col-md-6  hostHigh 'style=''>
									{{dataCenter[0].space | number}} sq/ft
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6 'style=''>
									Floor load:
									
									</div>
									<div id=''class='col-md-6 'style=''>
									{{dataCenter[0].fload | number}}lbs sq/ft
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6  hostHigh   hostHigh'style=''>
									Generators:
									
									</div>
									<div id=''class='col-md-6  hostHigh'style=''>
									{{dataCenter[0].infra[2]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6    'style=''>
									Chillers:
									
									</div>
									<div id=''class='col-md-6 'style=''>
									{{dataCenter[0].infra[3]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6   hostHigh'style=''>
									Air Conditioning:
									
									</div>
									<div id=''class='col-md-6  hostHigh'style=''>
									{{dataCenter[0].infra[4]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6   'style=''>
									Unit Power Density:
									
									</div>
									<div id=''class='col-md-6 'style=''>
									Up to {{dataCenter[0].powDen}}kW per unit
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6   hostHigh'style=''>
									Utility Power:
									
									</div>
									<div id=''class='col-md-6  hostHigh'style=''>
									{{dataCenter[0].infra[0]}}MW
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6    'style=''>
									Back-up Power:
									
									</div>
									<div id=''class='col-md-6 'style=''>
									{{dataCenter[0].infra[1]}}
									
									</div>
								
								
								</div>

							
							</div>
						</div>
					</div>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;background:url(images/innerImages/data4.jpg)no-repeat;background-size:100% 100%;'>
					
					
					</div>
				</div>

			
			</div>



		</div>
		<div id=''class='col-md-12 col-lg-12 centerDeskImageTwo'style='background:url(images/wallpaper/stock12alt-min.png)no-repeat;background-size:100%100%;padding:0;padding-top:10%;;'>
		
		
			<div id=''class='col-md-10 col-lg-10 hostShadoww'style='height:80%;background:#CCCBCC;float:right;padding:0;'>
				<div id=''class='col-md-10 col-lg-10'style=';height:100%;float:left;padding:0;'>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;background:url(images/innerImages/data5.jpg)no-repeat;background-size:100% 100%;'>
					
					
					</div>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;'>
						<div id=''class='col-md-12 col-lg-12 sign'style='padding:0;padding-top:7%;text-align:left;'>
							<div id=''class='col-md-12 col-lg-12'style='padding:0;'>
								<span class='col-md-5 col-lg-5 oswald' style='float:left;border-bottom:1px solid black;font-size:1.5em;'>{{dataCenter[1].name}}</span>
							
							</div>
							<div id=''class='col-md-12 col-lg-12'style='font-size:1.1em;text-align:left;'>
							<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee</p>
							
							</div>
							<div id=''class='col-md-12 col-lg-12 'style='font-size:1.0em;text-align:center;'>
								
								<div id=''class='col-md-12 col-lg-12 'style=''>
									<div id=''class='col-md-6 hostHigh 'style=''>
									Space:
									
									</div>
									<div id=''class='col-md-6  hostHigh 'style=''>
									{{dataCenter[1].space | number}} sq/ft
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6 'style=''>
									Floor load:
									
									</div>
									<div id=''class='col-md-6 'style=''>
									{{dataCenter[1].fload | number}}lbs sq/ft
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6  hostHigh   hostHigh'style=''>
									Generators:
									
									</div>
									<div id=''class='col-md-6  hostHigh'style=''>
									{{dataCenter[1].infra[2]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6    'style=''>
									Chillers:
									
									</div>
									<div id=''class='col-md-6 'style=''>
									{{dataCenter[1].infra[3]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6   hostHigh'style=''>
									Air Conditioning:
									
									</div>
									<div id=''class='col-md-6  hostHigh'style=''>
									{{dataCenter[1].infra[4]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6   'style=''>
									Unit Power Density:
									
									</div>
									<div id=''class='col-md-6 'style=''>
									Up to {{dataCenter[1].powDen}}kW per unit
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6   hostHigh'style=''>
									Utility Power:
									
									</div>
									<div id=''class='col-md-6  hostHigh'style=''>
									{{dataCenter[1].infra[0]}}MW
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-6    'style=''>
									Back-up Power:
									
									</div>
									<div id=''class='col-md-6 'style=''>
									{{dataCenter[1].infra[1]}}
									
									</div>
								
								
								</div>

							
							</div>
						</div>
					</div>
				</div>
			
			</div>



		</div>
		<div id=''class='col-md-12 col-lg-12 hostShadoww sign'style=''>
			<div id=''class='col-md-8 col-lg-8 col-md-offset-2'style='height:100%;padding:1%;'>

					<div id=''class='col-md-12 col-lg-12'style=''>
						<div id=''class='col-md-8 oswald'style='border-bottom:1px solid black;font-size:2.0em;'>
							We make your ISP our VIP
						
						</div>
					
					</div>

					<div id=''class='col-md-6 col-lg-6'style='padding:2%;'>
					<p>Responsive thought leader sticky note personas paradigm hacker paradigm pivot driven. Ship it fund engaging iterate user story prototype ship it viral prototype engaging. Earned media ideate long shadow quantitative vs. qualitative innovate thought leader cortado quantitative vs. qualitative disrupt long shadow thinker-maker-doer piverate. Responsive Steve Jobs personas food-truck minimum viable product moleskine user story actionable insight 360 campaign pivot pitch deck user centered design.</p>
<p>Pitch deck pivot pivot earned media viral intuitive viral human-centered design pivot big data sticky note Steve Jobs convergence. Hacker thought leader waterfall is so 2000 and late innovate fund agile co-working fund. User centered design responsive grok venture capital experiential minimum viable product agile SpaceTeam actionable insight physical computing affordances physical computing parallax human-centered design. Physical computing bootstrapping intuitive fund agile entrepreneur sticky note viral.</p>
					
					</div>

					<div id=''class='col-md-6'style='padding:2%;'>
					
					
					
					<div ng-repeat='logo in logoImages'id=''class='col-md-4'style='height:10vh;'>
						<div id=''class='col-md-12'style='background:url(images/logos/{{logo}}.png)no-repeat;background-size:contain;height:100%;'>
						
						
						</div>
					
					
					</div>
					</div>
			</div>
		
		</div>
		</div>
	</div>

















	<!-- MOBILE -->
	<div id=''class='hidden-md hidden-lg'style=''>
		<div parallax-background parallax-ratio='0'id=''class='col-xs-12 col-sm -12'style='padding:0;height:40vh;background:url(images/wallpaper/stock7-min.jpg)no-repeat;background-size:cover;'>
		
		
		</div>
		<div id=''class='col-xs-12 col-sm-12 hostShadoww'style=''>
			
			<div id=''class='col-xs-12  oswald'style='text-align:left;'>
					
					<div id=''class='col-xs-12 'style=''>
						<h2 class='col-xs-12 ' style='border-bottom:1px solid black;float:right;text-align:left;'>Security</h2>
					
					</div>
					<div id=''class='col-xs-12 'style=''>
						<h2 class='col-xs-10 ' style='border-bottom:1px solid black;float:right;text-align:left;'>Reliablity</h2>
					
					</div>
					<div id=''class='col-xs-12 'style=''>
						<h2 class='col-xs-8 ' style='border-bottom:1px solid black;float:right;text-align:left;'>Something</h2>
					
					</div>
				</div>

				<div id=''class='col-xs-12  sign'style='margin-bottom:5%;'>
					<div id=''class='col-xs-12'style='border-bottom:1px solid black;font-size:1.1em;'>
					<p>Responsive thought leader sticky note personas paradigm hacker paradigm pivot driven. Ship it fund engaging iterate user story prototype ship it viral prototype engaging. Earned media ideate long shadow quantitative vs. qualitative innovate thought leader cortado quantitative vs. qualitative disrupt long shadow thinker-maker-doer piverate. Responsive Steve Jobs personas food-truck minimum viable product moleskine user story actionable insight 360 campaign pivot pitch deck user centered design.</p>
<p>Pitch deck pivot pivot earned media viral intuitive viral human-centered design pivot big data sticky note Steve Jobs convergence. Hacker thought leader waterfall is so 2000 and late innovate fund agile co-working fund. User centered design responsive grok venture capital experiential minimum viable product agile SpaceTeam actionable insight physical computing affordances physical computing parallax human-centered design. Physical computing bootstrapping intuitive fund agile entrepreneur sticky note viral.</p>
					</div>
					<div id=''class='col-xs-12'style=';background:url(images/innerImages/data1.jpg)no-repeat;background-size:cover;height:40vh;'>
					
					
					</div>
				
				</div>
			
		</div>
		<div id=''class='col-xs-12 col-sm-12'style='height:25vh;;background:url(images/wallpaper/stock8.jpg)no-repeat;background-size:cover;padding:0;padding-top:10%;;'>
		
		</div>
		<div id=''class='col-xs-12 col-sm-12 hostShadoww'style=''>
			<div id=''class='col-xs-12 col-sm-12'style='height:100%;float:right;padding:0;margin-bottom:10%;'>
					<div id=''class='col-xs-12 col-lg-6'style='height:100%;;'>
						<div id=''class='col-xs-12 col-lg-12 sign'style='padding:0;padding-top:7%;text-align:right;'>
							<div id=''class='col-xs-12 col-lg-12'style='padding:0;'>
								<span class='col-xs-12  oswald' style='float:right;border-bottom:1px solid black;font-size:1.2em;'>{{dataCenter[0].name}}</span>
							
							</div>
							<div id=''class='col-xs-12 col-lg-12'style='font-size:1em;'>
							<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee</p>
							
							</div>
							<div id=''class='col-xs-12 col-lg-12'style='font-size:1.0em;padding:0;'>
								
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6  hostHigh col-lg-3  hostHigh'style=''>
									Space:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4 hostHigh'style=''>
									{{dataCenter[0].space | number}} sq/ft
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6  col-lg-3 'style=''>
									Floor load:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4'style=''>
									{{dataCenter[0].fload | number}}lbs sq/ft
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6  hostHigh col-lg-3  hostHigh'style=''>
									Generators:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4 hostHigh'style=''>
									{{dataCenter[0].infra[2]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6   col-lg-3  'style=''>
									Chillers:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4'style=''>
									{{dataCenter[0].infra[3]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6  col-lg-3 hostHigh'style=''>
									Air Conditioning:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4 hostHigh'style=''>
									{{dataCenter[0].infra[4]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6  col-lg-3 'style=''>
									Unit Power Density:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4'style=''>
									Up to {{dataCenter[0].powDen}}kW per unit
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6  col-lg-3 hostHigh'style=''>
									Utility Power:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4 hostHigh'style=''>
									{{dataCenter[0].infra[0]}}MW
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6   col-lg-3 'style=''>
									Back-up Power:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4'style=''>
									{{dataCenter[0].infra[1]}}
									
									</div>
								
								
								</div>

							
							</div>
						</div>
					</div>
					<div id=''class='col-xs-12 col-lg-6'style='height:40vh;;background:url(images/innerImages/data4.jpg)no-repeat;background-size:cover;'>
					
					
					</div>
				</div>

		
		</div>
		<div id=''class='col-xs-12 col-sm-12'style='height:20vh;;background:url(images/wallpaper/stock12alt-min.png)no-repeat;background-size:100%;padding:0;padding-top:10%;;'>

		</div>

		<div id=''class='col-xs-12 col-sm-12 hostShadoww'style=''>
			<div id=''class='col-xs-12 col-sm-12'style='height:100%;float:right;padding:0;margin-bottom:10%;'>
					<div id=''class='col-xs-12 col-lg-6'style='height:100%;;'>
						<div id=''class='col-xs-12 col-lg-12 sign'style='padding:0;padding-top:7%;text-align:right;'>
							<div id=''class='col-xs-12 col-lg-12'style='padding:0;'>
								<span class='col-xs-12  oswald' style='float:right;border-bottom:1px solid black;font-size:1.2em;'>{{dataCenter[1].name}}</span>
							
							</div>
							<div id=''class='col-xs-12 col-lg-12'style='font-size:1em;'>
							<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee</p>
							
							</div>
							<div id=''class='col-xs-12 col-lg-12'style='font-size:1.0em;padding:0;'>
								
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6  hostHigh col-lg-3  hostHigh'style=''>
									Space:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4 hostHigh'style=''>
									{{dataCenter[1].space | number}} sq/ft
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6  col-lg-3 'style=''>
									Floor load:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4'style=''>
									{{dataCenter[1].fload | number}}lbs sq/ft
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6  hostHigh col-lg-3  hostHigh'style=''>
									Generators:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4 hostHigh'style=''>
									{{dataCenter[1].infra[2]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6   col-lg-3  'style=''>
									Chillers:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4'style=''>
									{{dataCenter[1].infra[3]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6  col-lg-3 hostHigh'style=''>
									Air Conditioning:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4 hostHigh'style=''>
									{{dataCenter[1].infra[4]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6  col-lg-3 'style=''>
									Unit Power Density:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4'style=''>
									Up to {{dataCenter[1].powDen}}kW per unit
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6  col-lg-3 hostHigh'style=''>
									Utility Power:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4 hostHigh'style=''>
									{{dataCenter[1].infra[0]}}MW
									
									</div>
								
								
								</div>
								<div id=''class='col-xs-12 col-lg-12'style=''>
									<div id=''class='col-xs-6   col-lg-3 'style=''>
									Back-up Power:
									
									</div>
									<div id=''class='col-xs-6 col-lg-4'style=''>
									{{dataCenter[1].infra[1]}}
									
									</div>
								
								
								</div>

							
							</div>
						</div>
					</div>
					<div id=''class='col-xs-12 col-lg-6'style='height:40vh;;background:url(images/innerImages/data5.jpg)no-repeat;background-size:cover;'>
					
					
					</div>
				</div>

		
		</div>
		<div id=''class='col-xs-12 col-sm-12 sign'style='height:20vh;;background:url(images/wallpaper/stock2-min.png)no-repeat;background-size:100%;padding:0;padding-top:10%;;'>

		</div>
		<div id=''class='col-xs-12 col-sm-12 hostShadoww'style=''>
			<div id=''class='col-xs-12 col-sm-12 'style='height:100%;padding:1%;'>

					<div id=''class='col-xs-12 col-sm-12'style=''>
						<div id=''class='col-xs-12 oswald'style='border-bottom:1px solid black;font-size:1.2em;'>
							We make your ISP our VIP
						
						</div>
					
					</div>

					<div id=''class='col-xs-12 col-sm-12 sign'style='padding:2%;'>
					
<p>Cortado cortado personas sticky note physical computing convergence pitch deck human-centered design intuitive 360 campaign integrate waterfall is so 2000 and late SpaceTeam entrepreneur. Prototype engaging entrepreneur SpaceTeam thinker-maker-doer workflow viral convergence hacker actionable insight actionable insight. Prototype co-working moleskine personas convergence engaging quantitative vs. qualitative venture capital agile affordances responsive user centered design. Affordances physical computing earned media iterate entrepreneur user story intuitive integrate pair programming integrate venture capital 360 campaign.</p>
<p>Cortado parallax driven innovate fund responsive pair programming convergence integrate parallax. Thought leader unicorn sticky note food-truck food-truck quantitative vs. qualitative grok co-working ship it integrate. Innovate SpaceTeam latte venture capital grok physical computing hacker latte thought leader innovate. Bootstrapping ideate iterate fund food-truck actionable insight 360 campaign agile.</p>

					
					</div>

					<div id=''class='col-xs-12 'style='padding:2%;'>
					
					
					
					<div ng-repeat='logo in logoImages'id=''class='col-xs-6'style='height:10vh;margin-bottom:10%;'>
						<div id=''class='col-xs-12'style='background:url(images/logos/{{logo}}.png)no-repeat;background-size:contain;height:100%;'>
						
						
						</div>
					
					
					</div>
					</div>
			</div>
		
		</div>
	</div>


</div>