<div id=''class=''style=''>

	<!-- DESKTOP -->
	<div id=''class='hidden-sm hidden-xs'style='padding:0;'>
		<div parallax-background parallax-ratio='0.8'id=''class='col-md-12 col-lg-12'style='padding:0;height:60vh;background:url(images/wallpaper/stock7.jpg)no-repeat;background-size:cover;'>
		
		
		</div>
		<div id=''class='col-md-12 col-lg-12 hostShadoww'style='position:relative;z-index:100;'>
			<div id=''class='col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2'style=';height:100%;margin-bottom:2%;'>
				<div id=''class='col-md-12 col-lg-12 oswald'style='text-align:left;'>
					
					<div id=''class='col-md-12 col-lg-12'style=''>
						<h2 class='col-md-2 col-lg-2' style='border-bottom:1px solid black;float:right;'>Security</h2>
					
					</div>
					<div id=''class='col-md-12 col-lg-12'style=''>
						<h2 class='col-md-4 col-lg-4  ' style='border-bottom:1px solid black;float:right;'>Reliablity</h2>
					
					</div>
					<div id=''class='col-md-12 col-lg-12'style=''>
						<h2 class='col-md-6 col-lg-6 ' style='border-bottom:1px solid black;float:right;'>Something</h2>
					
					</div>
				</div>

				<div id=''class='col-md-12 col-lg-12 sign'style=''>
					<div id=''class='col-md-7'style='border-right:1px solid black;font-size:1.2em;'>
					<p>The concept of Lorem Ipsum was created by and for the Chinese in order to make U.S. design jobs non-competitive. I’m the best thing that ever happened to placeholder text. An 'extremely credible source' has called my office and told me that Lorem Ipsum's birth certificate is a fraud. The best taco bowls are made in Trump Tower Grill. I love Hispanics! I write the best placeholder text, and I'm the biggest developer on the web by far... While that's mock-ups and this is politics, are they really so different?</p>
					
					<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things.</p>
					
					<p>If Trump Ipsum weren’t my own words, perhaps I’d be dating it. That other text? Sadly, it’s no longer a 10. I think the only difference between me and the other placeholder text is that I’m more honest and my words are more beautiful. He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured.</p>
					</div>
					<div id=''class='col-md-4 col-md-offset-1'style=';background:url(images/innerImages/data1.jpg)no-repeat;background-size:cover;height:30vh;'>
					
					
					</div>
				
				</div>
			
			</div>
			
		</div>
		<div id=''class='col-md-12 col-lg-12'style='height:80vh;;background:url(images/wallpaper/stock8.jpg)no-repeat;background-size:cover;padding:0;padding-top:10%;;'>
		
		
			<div id=''class='col-md-10 col-lg-10 hostShadoww'style='height:70%;background:#CCCBCC;padding:0;'>
				<div id=''class='col-md-10 col-lg-10'style='height:100%;float:right;padding:0;'>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;'>
						<div id=''class='col-md-12 col-lg-12 sign'style='padding:0;padding-top:7%;text-align:right;'>
							<div id=''class='col-md-12 col-lg-12'style='padding:0;'>
								<span class='col-md-5 col-lg-5 oswald' style='float:right;border-bottom:1px solid black;font-size:1.5em;'>{{dataCenter[0].name}}</span>
							
							</div>
							<div id=''class='col-md-12 col-lg-12'style='font-size:1.1em;text-align:right;'>
							<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee</p>
							
							</div>
							<div id=''class='col-md-12 col-lg-12'style='font-size:1.0em;'>
								
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3 col-md-offset-5 hostHigh col-lg-3 col-md-offset-5 hostHigh'style=''>
									Space:
									
									</div>
									<div id=''class='col-md-4 col-lg-4 hostHigh'style=''>
									{{dataCenter[0].space | number}} sq/ft
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3 col-md-offset-5 col-lg-3 col-md-offset-5'style=''>
									Floor load:
									
									</div>
									<div id=''class='col-md-4 col-lg-4'style=''>
									{{dataCenter[0].fload | number}} sq/ft
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3 col-md-offset-5 hostHigh col-lg-3 col-md-offset-5 hostHigh'style=''>
									Generators:
									
									</div>
									<div id=''class='col-md-4 col-lg-4 hostHigh'style=''>
									{{dataCenter[0].infra[2]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3 col-md-offset-5  col-lg-3 col-md-offset-5 'style=''>
									Chillers:
									
									</div>
									<div id=''class='col-md-4 col-lg-4'style=''>
									{{dataCenter[0].infra[3]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3 col-md-offset-5 col-lg-3 hostHigh'style=''>
									Air Conditioning:
									
									</div>
									<div id=''class='col-md-4 col-lg-4 hostHigh'style=''>
									{{dataCenter[0].infra[4]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3 col-md-offset-5 col-lg-3 'style=''>
									Unit Power Density:
									
									</div>
									<div id=''class='col-md-4 col-lg-4'style=''>
									Up to {{dataCenter[0].powDen}}kW per unit
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3 col-md-offset-5 col-lg-3 hostHigh'style=''>
									Utility Power:
									
									</div>
									<div id=''class='col-md-4 col-lg-4 hostHigh'style=''>
									{{dataCenter[0].infra[0]}}MW
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3  col-md-offset-5 col-lg-3 'style=''>
									Back-up Power:
									
									</div>
									<div id=''class='col-md-4 col-lg-4'style=''>
									{{dataCenter[0].infra[1]}}
									
									</div>
								
								
								</div>

							
							</div>
						</div>
					</div>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;background:url(images/innerImages/data4.jpg)no-repeat;background-size:cover;'>
					
					
					</div>
				</div>

			
			</div>



		</div>
		<div id=''class='col-md-12 col-lg-12'style='height:80vh;;background:url(images/wallpaper/stock12alt.png)no-repeat;background-size:100%;padding:0;padding-top:10%;;'>
		
		
			<div id=''class='col-md-10 col-lg-10 hostShadoww'style='height:80%;background:#CCCBCC;float:right;padding:0;'>
				<div id=''class='col-md-10 col-lg-10'style=';height:100%;float:left;padding:0;'>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;background:url(images/innerImages/data5.jpg)no-repeat;background-size:cover;'>
					
					
					</div>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;'>
						<div id=''class='col-md-12 col-lg-12 sign'style='padding:0;padding-top:7%;text-align:left;'>
							<div id=''class='col-md-12 col-lg-12'style='padding:0;'>
								<span class='col-md-5 col-lg-5 oswald' style='float:left;border-bottom:1px solid black;font-size:1.5em;'>{{dataCenter[1].name}}</span>
							
							</div>
							<div id=''class='col-md-12 col-lg-12'style='font-size:1.1em;text-align:left;'>
							<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee</p>
							
							</div>
							<div id=''class='col-md-12 col-lg-12'style='font-size:1.0em;'>
								
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3  hostHigh col-lg-3  hostHigh'style=''>
									Space:
									
									</div>
									<div id=''class='col-md-4 col-lg-4 hostHigh'style=''>
									{{dataCenter[1].space | number}} sq/ft
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3  col-lg-3 'style=''>
									Floor load:
									
									</div>
									<div id=''class='col-md-4 col-lg-4'style=''>
									{{dataCenter[1].fload | number}} sq/ft
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3  hostHigh col-lg-3  hostHigh'style=''>
									Generators:
									
									</div>
									<div id=''class='col-md-4 col-lg-4 hostHigh'style=''>
									{{dataCenter[1].infra[2]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3   col-lg-3  'style=''>
									Chillers:
									
									</div>
									<div id=''class='col-md-4 col-lg-4'style=''>
									{{dataCenter[1].infra[3]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3  col-lg-3 hostHigh'style=''>
									Air Conditioning:
									
									</div>
									<div id=''class='col-md-4 col-lg-4 hostHigh'style=''>
									{{dataCenter[1].infra[4]}}
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3  col-lg-3 'style=''>
									Unit Power Density:
									
									</div>
									<div id=''class='col-md-4 col-lg-4'style=''>
									Up to {{dataCenter[1].powDen}}kW per unit
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3  col-lg-3 hostHigh'style=''>
									Utility Power:
									
									</div>
									<div id=''class='col-md-4 col-lg-4 hostHigh'style=''>
									{{dataCenter[1].infra[0]}}MW
									
									</div>
								
								
								</div>
								<div id=''class='col-md-12 col-lg-12'style=''>
									<div id=''class='col-md-3   col-lg-3 'style=''>
									Back-up Power:
									
									</div>
									<div id=''class='col-md-4 col-lg-4'style=''>
									{{dataCenter[1].infra[1]}}
									
									</div>
								
								
								</div>

							
							</div>
						</div>
					</div>
				</div>
			
			</div>



		</div>
		<div id=''class='col-md-12 col-lg-12 hostShadoww'style='height:60vh;'>
			<div id=''class='col-md-8 col-lg-8 col-md-offset-2'style='height:100%;padding:1%;'>

					<div id=''class='col-md-12 col-lg-12'style=''>
						<div id=''class='col-md-6 oswald'style='border-bottom:1px solid black;font-size:2.0em;'>
							Connect with our ISP partners
						
						</div>
					
					</div>



					<div id=''class='col-md-6 col-md-offset-3'style='padding:2%;'>
					
					
					
					<div ng-repeat='logo in logoImages'id=''class='col-md-4'style='height:10vh;'>
						<div id=''class='col-md-12'style='background:url(images/logos/{{logo}}.png)no-repeat;background-size:contain;height:100%;'>
						
						
						</div>
					
					
					</div>
					</div>
			</div>
		
		</div>
	</div>

	<!-- MOBILE -->
	<div id=''class='hidden-md hidden-lg'style=''>
	
	
	</div>


</div>