<div id=''class=''style=''>

	<!-- DESKTOP -->
	<div id=''class='hidden-sm hidden-xs col-md-12 col-lg-12'style='padding:0;'>
		<div parallax-background parallax-ratio='1'id=''class='col-md-12 col-lg-12'style='padding:0;height:60vh;background:url(images/wallpaper/stock44.jpg)no-repeat;background-size:cover;'>
		
		
		</div>
		<div id=''class='col-md-12 hostShadoww'style='position:relative;z-index:4;'>
			<div id=''class='col-md-8 col-md-offset-2'style='padding:0;margin-bottom:3%;'>
				<div id=''class='col-md-9 col-md-offset-7 oswald'style='padding:0;margin-bottom:1%;'>
					<h3 class='col-md-5'style='padding:0;'>Reliable Hosting</h3>
					<div id=''class='col-md-12'style='padding:0;'>
					
					
					</div>
					<h3 class='col-md-5' style='text-align:right;border-bottom:1px solid black;'>Without the High Prices</h3>
				
				</div>
				<div id=''class='col-md-12 sign'style='text-align:right;'>
					<div id=''class='col-md-12 oswald'style='text-align:left;margin-bottom:1%;'>
						<div id=''class='col-md-4'style='border-bottom:1px solid black;'>
							<h3>Shared Hosting</h3>
						
						</div>
					
					</div>

					<div id=''class='col-md-7'style=''>
					<p>Latinos disgusting fat pig China excuse me, Trump tone pitter-patter you need energy bam ban the Muslims hold on, Hillary Clinton, bing-bing Sergeant Bergdahl BAM I'd get along with Putin pageant the young man from North Korea, women toupee Planned Parenthood my hair money sit down wait.</p>
					<p>
						It's my hair private jet Fox News treated me terrible, bing-bing-bing Mexico wait, Putin would like me pitter-patter loser God republican sit down Cowboys stadium by the way Sergeant Bergdahl he hit me first, disabilities wait, I've hired thousands of Mexicans, leaders leaders WWE women's health people cutting up their Macy's cards, fat.
					</p>
					
					<p>
						Bunch of babies teleprompter I tweeted I was talking about her persona the talking heads disgusting fat pig stupid rapists the American dream is dead bing-bing losers everyone loves me, rapists more cunning Miss Universe Donald J. Trump, beating us we need tone rich lightweight jobs beating us up I've hired thousands of Mexicans, no time for political correctness, anchor baby.
					</p>
					</div>
					<div id=''class='col-md-3 col-md-offset-1'style='background:url(images/innerImages/server-rack1.jpg)no-repeat;background-size:contain;height:22vh;'>
					
					
					</div>
				
					
					
					</div>

				</div>
		</div>
		<div id=''class='col-md-12'style='padding:0;'>
		<div id=''class='col-md-12 col-lg-12'style='height:80vh;;background:url(images/wallpaper/OrangeStuff.png)no-repeat;background-size:cover;padding:0;padding-top:10%;;'>
		
		
			<div id=''class='col-md-10 col-lg-10 hostShadoww'style='height:70%;background:#CCCBCC;padding:0;'>
				<div id=''class='col-md-10 col-lg-10'style='height:100%;float:right;padding:0;'>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;'>
						<div id=''class='col-md-12 col-lg-12'style='padding:0;padding-top:7%'>
							<h3 class='col-md-5 col-lg-5 oswald'style='float:right;text-align:right;border-bottom:1px solid black;'>Fully secured</h3>
					
							<div id=''class='col-md-12 col-lg-12 sign'style='text-align:right;'>
								<p>All premises are fully staffed providing 24/7 support and security for you and your data.</p>
								
								</div>	
						</div>
						<div id=''class='col-md-12 col-lg-12'style='padding:0;'>
							<h3 class='col-md-5 col-lg-5 oswald'style='float:right;text-align:right;border-bottom:1px solid black;'>Guaranteed CPU</h3>
					
							<div id=''class='col-md-12 col-lg-12 sign'style='text-align:right;'>
								<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee.</p>
								
								</div>	
						</div>
					</div>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;background:url(images/innerImages/data2.jpg)no-repeat;background-size:cover;'>
					
					
					</div>
				</div>

			
			</div>



		</div>
		<div id=''class='col-md-12 col-lg-12'style='height:80vh;;background:url(images/wallpaper/stock13.png)no-repeat;background-size:100%;padding:0;padding-top:10%;;'>
		
		
			<div id=''class='col-md-10 col-lg-10 hostShadoww'style='height:70%;background:#CCCBCC;float:right;padding:0;'>
				<div id=''class='col-md-10 col-lg-10'style=';height:100%;float:left;padding:0;'>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;background:url(images/innerImages/data3.jpg)no-repeat;background-size:cover;'>
					
					
					</div>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;'>
						<div id=''class='col-md-12 col-lg-12'style='padding:0;padding-top:7%'>
							<h3 class='col-md-5 col-lg-5 oswald'style='float:left;text-align:left;border-bottom:1px solid black;'>Guaranteed RAM</h3>
					
							<div id=''class='col-md-12 col-lg-12 sign'style='text-align:left;'>
								<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee.</p>
								
								</div>	
						</div>
						<div id=''class='col-md-12 col-lg-12'style='padding:0;'>
							<h3 class='col-md-5 col-lg-5 oswald'style='float:left;text-align:left;border-bottom:1px solid black;'>Inodes</h3>
					
							<div id=''class='col-md-12 col-lg-12 sign'style='text-align:left;'>
								<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee.</p>
								
								</div>	
						</div>
					
					</div>
				</div>
			
			</div>



		</div>
		
	


		</div>

		<div id=''class='col-md-12 col-lg-12'style=''>
			<div id=''class='col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 sign'style=''>
					<div id=''class='col-md-12'style='text-align:left;'>
					<h3 class='col-md-5 oswald' style='border-bottom:1px solid black;'>Shared Hosting Details</h3>
					
					</div>

						<div id=''class='col-md-12'style='height:5%;'>
					<div id=''class='col-md-2'style='height:100%;'>
					
					
					</div>
					<div ng-repeat='server in servers'id=''class='col-md-2 'style='text-align:center;padding:0;'>
						<div ng-class='{tableEven: $index %2==0}' id=''class='col-md-12 oswald'style=''>
							<span class='col-md-12'>{{server.name}}</span>
							<span class='col-md-12'>{{server.price | currency}}</span>
						
						</div>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2'style='height:100%;'>
					
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Storage
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%;height:100;'>
						<span class='col-md-12'>{{server.storage}} Gb</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Bandwidth
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.bandwidth}} Gb</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Email Accounts
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.emailAcc}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Subdomains
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.subdom}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Addon Domains
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%;'>
						<span class='col-md-12'>{{server.addDom}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Domain Aliases
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.domainAlias}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2'style='height:100%;'>
					
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Guaranteed CPU
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12 '>{{server.Gcpu}}% core</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Burst CPU
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span ng-if='$index < 2'class='col-md-12'>{{server.Bcpu}} core</span>
						<span ng-if='$index >= 2'class='col-md-12'>{{server.Bcpu}} cores</span>
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Guaranteed RAM
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.Gram}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Inodes
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.inodes}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Disk I/O
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.diskIO}} MB/sec</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Entry Processes
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.entryPro}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Processes
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.process}}</span>
						
					
					</div>
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					
				
				</div>
				

			
			</div>
		
		</div>

	</div>

	<!-- MOBILE -->
	<div id=''class='hidden-md hidden-lg col-xs-12 sign'style='padding:0;'>
			<div parallax-background parallax-ratio='0.2'id=''class='col-xs-12 col-sm-12'style='padding:0;height:50vh;background:url(images/wallpaper/stock4.jpg)no-repeat;background-size:100% 120%;'>
		
		
			</div>
			<div id=''class='col-xs-12 hostShadoww'style='border:1px solid black;'>
			
				<div id=''class='col-xs-12  oswald'style='padding:0;margin-bottom:1%;'>
					<h3 class='col-xs-12'style='padding:0;'>Reliable Hosting</h3>
					<div id=''class='col-xs-12'style='padding:0;'>
					
					
					</div>
					<h3 class='col-xs-12' style='text-align:right;border-bottom:1px solid black;'>Without the High Prices</h3>
				
				</div>
				
				<div id=''class='col-xs-12'style=''>
				<p>Latinos disgusting fat pig China excuse me, Trump tone pitter-patter you need energy bam ban the Muslims hold on, Hillary Clinton, bing-bing Sergeant Bergdahl BAM I'd get along with Putin pageant the young man from North Korea, women toupee Planned Parenthood my hair money sit down wait.</p>
					<p>
						It's my hair private jet Fox News treated me terrible, bing-bing-bing Mexico wait, Putin would like me pitter-patter loser God republican sit down Cowboys stadium by the way Sergeant Bergdahl he hit me first, disabilities wait, I've hired thousands of Mexicans, leaders leaders WWE women's health people cutting up their Macy's cards, fat.
					</p>
					
					<p>
						Bunch of babies teleprompter I tweeted I was talking about her persona the talking heads disgusting fat pig stupid rapists the American dream is dead bing-bing losers everyone loves me, rapists more cunning Miss Universe Donald J. Trump, beating us we need tone rich lightweight jobs beating us up I've hired thousands of Mexicans, no time for political correctness, anchor baby.
					</p>
				
				</div>
				<div id=''class='col-xs-12 oswald'style='border-bottom:1px solid black;margin-bottom:5%;font-size:1.2em;'>
				Shared Hosting Details
				
				</div>

				<div id=''class='col-xs-12'style='padding:0;text-align:center;margin-bottom:1%;'>
					<div ng-repeat='server in servers | limitTo:3'id=''class='col-xs-3 col-xs-offset-1'ng-class='{col-xs-offset-1: $index >3}'style='padding:0;'>
					 <span class='col-xs-12' style='border-right:1px solid black;'>{{server.name}}</span>
					
					
					</div>
					<div ng-repeat='server in servers | limitTo:2:3'id=''class='col-xs-3 col-xs-offset-2'style='padding:0;'>
					
						<span class='col-xs-12' style='border-right:1px solid black;'>{{server.name}}</span>
					
					</div>
				
				</div>

				<div id=''class='col-xs-12 oswald'style=''>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-12'style='text-align:center;font-size:1.2em;'>
						
							{{servers[1].name}}
						
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Price
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].price | currency}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Storage
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].storage}} GB
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Bandwidth
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].bandwidth}} Gb
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Email Accounts
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].emailAcc}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Sub-domains
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].subdom}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Additional domains
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].addDom}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Domain Aliases
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].domainAlias}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Guaranteed CPU
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].Gcpu}}% core
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Burst CPU
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].Bcpu}} core
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Guaranteed RAM
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].Gram}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						I-Nodes
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].inodes}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Disk I/O
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].diskIO}} Mb/sec
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Entry Processes
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].entryPro}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Processes
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[1].process}}
						
						</div>
					
					</div>
				
				</div>



			</div>
			
	</div>


</div>