<div id=''class=''style=''>

	<!-- DESKTOP -->
	<div id=''class='hidden-sm hidden-xs col-md-12 col-lg-12'style='padding:0;overflow:hidden-y'>
		<div parallax-background parallax-ratio='1'id=''class='col-md-12 col-lg-12'style='padding:0;height:60vh;background:url(images/wallpaper/stock44-min.jpg)no-repeat;background-size:cover;'>
		
		
		</div>
		<div id=''class='col-md-12 hostShadoww'style='position:relative;z-index:4;'>
			<div id=''class='col-md-8 col-md-offset-2'style='padding:0;margin-bottom:3%;'>
				<div id=''class='col-md-9 col-md-offset-7 oswald'style='padding:0;margin-bottom:1%;'>
					<h3 class='col-md-5'style='padding:0;'>Reliable Hosting</h3>
					<div id=''class='col-md-12'style='padding:0;'>
					
					
					</div>
					<h3 class='col-md-5' style='text-align:right;border-bottom:1px solid black;'>Without the High Prices</h3>
				
				</div>
				<div id=''class='col-md-12 sign'style='text-align:right;'>
					<div id=''class='col-md-12 oswald'style='text-align:left;margin-bottom:1%;'>
						<div id=''class='col-md-4'style='border-bottom:1px solid black;'>
							<h3>Shared Hosting</h3>
						
						</div>
					
					</div>

					<div id=''class='col-md-7'style=''>

<p>Bootstrapping prototype thought leader actionable insight user story parallax workflow unicorn ideate user centered design paradigm. Latte venture capital unicorn physical computing latte earned media disrupt human-centered design. Disrupt personas paradigm Steve Jobs integrate prototype human-centered design sticky note paradigm ship it. Engaging SpaceTeam integrate prototype quantitative vs. qualitative physical computing waterfall is so 2000 and late disrupt food-truck physical computing.</p>
<p>Long shadow driven intuitive long shadow venture capital ship it food-truck cortado engaging. Cortado affordances latte latte personas quantitative vs. qualitative moleskine latte personas unicorn. Ship it latte co-working ship it engaging integrate responsive SpaceTeam physical computing 360 campaign pair programming. Responsive prototype waterfall is so 2000 and late paradigm physical computing venture capital fund responsive latte. 360 campaign latte experiential co-working 360 campaign entrepreneur actionable insight long shadow ideate waterfall is so 2000 and late grok.</p>
					</div>
					<div id=''class='col-md-3 col-md-offset-1'style='background:url(images/innerImages/server-rack1.jpg)no-repeat;background-size:contain;height:22vh;'>
					
					
					</div>
				
					
					
				</div>

			</div>
		</div>
		<div id=''class='col-md-12'style='padding:0;'>
			<div id=''class='col-md-12 col-lg-12'style='height:80vh;;background:url(images/wallpaper/OrangeStuff-min.png)no-repeat;background-size:cover;padding:0;padding-top:10%;;'>
		
		
				<div id=''class='col-md-10 col-lg-10 hostShadoww'style='height:70%;background:#CCCBCC;padding:0;'>
					<div id=''class='col-md-10 col-lg-10'style='height:100%;float:right;padding:0;'>
						<div id=''class='col-md-6 col-lg-6'style='height:100%;;'>
							<div id=''class='col-md-12 col-lg-12'style='padding:0;padding-top:7%'>
								<h3 class='col-md-5 col-lg-5 oswald'style='float:right;text-align:right;border-bottom:1px solid black;'>Fully secured</h3>
					
								<div id=''class='col-md-12 col-lg-12 sign'style='text-align:right;'>
									<p>All premises are fully staffed providing 24/7 support and security for you and your data.</p>
								
								</div>	
							</div>
							<div id=''class='col-md-12 col-lg-12'style='padding:0;'>
								<h3 class='col-md-5 col-lg-5 oswald'style='float:right;text-align:right;border-bottom:1px solid black;'>Guaranteed CPU</h3>
					
								<div id=''class='col-md-12 col-lg-12 sign'style='text-align:right;'>
									<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee.</p>
								
								</div>	
							</div>
						</div>
						<div id=''class='col-md-6 col-lg-6'style='height:100%;;background:url(images/innerImages/data2.jpg)no-repeat;background-size:cover;'>
					
					
						</div>
					</div>

			
				</div>



			 </div>
		<div id=''class='col-md-12 col-lg-12'style='height:80vh;;background:url(images/wallpaper/stock13.png)no-repeat;background-size:100%;padding:0;padding-top:10%;;'>
		
		
			<div id=''class='col-md-10 col-lg-10 hostShadoww'style='height:70%;background:#CCCBCC;float:right;padding:0;'>
				<div id=''class='col-md-10 col-lg-10'style=';height:100%;float:left;padding:0;'>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;background:url(images/innerImages/data3.jpg)no-repeat;background-size:cover;'>
					
					
					</div>
					<div id=''class='col-md-6 col-lg-6'style='height:100%;;padding:1%;'>
						<div id=''class='col-md-12 col-lg-12'style='padding:0;padding-top:0%'>
							<h3 class='col-md-5 col-lg-5 oswald'style='float:left;text-align:left;border-bottom:1px solid black;'>Guaranteed RAM</h3>
					
							<div id=''class='col-md-12 col-lg-12 sign'style='text-align:left;'>
								<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee.</p>
								
								</div>	
						</div>
						<div id=''class='col-md-12 col-lg-12'style='padding:1%;'>
							<h3 class='col-md-5 col-lg-5 oswald'style='float:left;text-align:left;border-bottom:1px solid black;'>Inodes</h3>
					
							<div id=''class='col-md-12 col-lg-12 sign'style='text-align:left;padding:1%;'>
								<p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee.</p>
								
								</div>	
						</div>
					
					</div>
				</div>
			
			</div>



		</div>
		
	


		</div>

		<div id=''class='col-md-12 col-lg-12'style=''>
			<div id=''class='col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 sign'style='margin-bottom:5%;'>
					<div id=''class='col-md-12'style='text-align:left;'>
					<h3 class='col-md-5 oswald' style='border-bottom:1px solid black;'>Shared Hosting Details</h3>
					
					</div>

						<div id=''class='col-md-12'style='height:5%;'>
					<div id=''class='col-md-2'style='height:100%;'>
					
					
					</div>
					<div ng-repeat='server in servers'id=''class='col-md-2 'style='text-align:center;padding:0;'>
						<div ng-class='{tableEven: $index %2==0}' id=''class='col-md-12 oswald'style=''>
							<span class='col-md-12'>{{server.name}}</span>
							<span class='col-md-12'>{{server.price | currency}}</span>
						
						</div>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2'style='height:100%;'>
					
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Storage
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%;height:100;'>
						<span class='col-md-12'>{{server.storage}} Gb</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Bandwidth
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.bandwidth}} Gb</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Email Accounts
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.emailAcc}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Subdomains
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.subdom}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Addon Domains
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%;'>
						<span class='col-md-12'>{{server.addDom}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Domain Aliases
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.domainAlias}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2'style='height:100%;'>
					
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Guaranteed CPU
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12 '>{{server.Gcpu}}% core</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Burst CPU
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span ng-if='$index < 2'class='col-md-12'>{{server.Bcpu}} core</span>
						<span ng-if='$index >= 2'class='col-md-12'>{{server.Bcpu}} cores</span>
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Guaranteed RAM
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.Gram}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Inodes
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.inodes}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Disk I/O
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.diskIO}} MB/sec</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Entry Processes
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.entryPro}}</span>
						
					
					</div>
				
				</div>
				<div id=''class='col-md-12 hostHigh'style='height:5.5%;'>
					<div id=''class='col-md-2 oswald'style='height:100%;padding:1%'>
					Processes
					
					</div>
					<div ng-class='{tableEven: $index %2==0}' ng-repeat='server in servers track by $index'id=''class='col-md-2'style='text-align:center;padding:1%'>
						<span class='col-md-12'>{{server.process}}</span>
						
					
					</div>
				</div>
				<div id=''class='col-md-12'style='height:5.5%;'>
					
				
				</div>
				

			</div>
			</div>
		
		</div>

	</div>
























	<!-- MOBILE -->
	<div id=''class='hidden-md hidden-lg col-xs-12 sign'style='padding:0;'>
			<div parallax-background parallax-ratio='0.2'id=''class='col-xs-12 col-sm-12'style='padding:0;height:50vh;background:url(images/wallpaper/stock44-min.jpg)no-repeat;background-size:100% 120%;'>
		
		
			</div>
			<div id=''class='col-xs-12 hostShadoww'style='border:1px solid black;'>
			
				<div id=''class='col-xs-12  oswald'style='padding:0;margin-bottom:1%;'>
					<h3 class='col-xs-12'style='padding:0;'>Reliable Hosting</h3>
					<div id=''class='col-xs-12'style='padding:0;'>
					
					
					</div>
					<h3 class='col-xs-12' style='text-align:right;border-bottom:1px solid black;'>Without the High Prices</h3>
				
				</div>
				
				<div id=''class='col-xs-12'style=''>
				
<p>Cortado cortado personas sticky note physical computing convergence pitch deck human-centered design intuitive 360 campaign integrate waterfall is so 2000 and late SpaceTeam entrepreneur. Prototype engaging entrepreneur SpaceTeam thinker-maker-doer workflow viral convergence hacker actionable insight actionable insight. Prototype co-working moleskine personas convergence engaging quantitative vs. qualitative venture capital agile affordances responsive user centered design. Affordances physical computing earned media iterate entrepreneur user story intuitive integrate pair programming integrate venture capital 360 campaign.</p>
<p>Cortado parallax driven innovate fund responsive pair programming convergence integrate parallax. Thought leader unicorn sticky note food-truck food-truck quantitative vs. qualitative grok co-working ship it integrate. Innovate SpaceTeam latte venture capital grok physical computing hacker latte thought leader innovate. Bootstrapping ideate iterate fund food-truck actionable insight 360 campaign agile.</p>
<p>360 campaign affordances user centered design thought leader driven waterfall is so 2000 and late food-truck. Entrepreneur experiential fund experiential ideate convergence fund ideate waterfall is so 2000 and late ship it user story intuitive engaging. Agile intuitive user story hacker thinker-maker-doer convergence moleskine fund quantitative vs. qualitative driven ship it pair programming pitch deck. Disrupt personas paradigm thinker-maker-doer prototype pitch deck earned media earned media earned media bootstrapping.</p>
				
				</div>
				<div id=''class='col-xs-12 oswald'style='border-bottom:1px solid black;margin-bottom:5%;font-size:1.2em;'>
				Shared Hosting Details
				
				</div>

				<div id=''class='col-xs-12'style='padding:0;text-align:center;margin-bottom:1%;'>
					<div ng-repeat='server in servers | limitTo:3'id=''class='col-xs-3 col-xs-offset-1'ng-class='{col-xs-offset-1: $index >3}'style='padding:0;'>
					 <span class='col-xs-12' ng-click='changeServ(inds)' ng-init='inds = $index'style='border-right:1px solid black;'ng-class='{hostHigh:selIndex == $index}'>{{server.name}}</span>
					
					
					</div>
					<div ng-repeat='server in servers | limitTo:2:3'id=''class='col-xs-3 col-xs-offset-2'style='padding:0;'ng-click='changeServ(ind)' ng-init='ind = $index+3'ng-class='{hostHigh:selIndex == ind}'>
					
						<span ng-model='ind'class='col-xs-12' style='border-right:1px solid black;'>{{server.name}}
						
						</span>
					
					</div>
				
				</div>

				<div id=''class='col-xs-12 oswald'style=''>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-12'style='text-align:center;font-size:1.2em;'>
						
							{{servers[selIndex].name}}
						
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Price
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].price | currency}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Storage
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].storage}} GB
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Bandwidth
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].bandwidth}} Gb
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Email Accounts
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].emailAcc}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Sub-domains
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].subdom}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Additional domains
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].addDom}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Domain Aliases
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].domainAlias}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Guaranteed CPU
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].Gcpu}}% core
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Burst CPU
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].Bcpu}} core
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Guaranteed RAM
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].Gram}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						I-Nodes
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].inodes}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Disk I/O
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].diskIO}} Mb/sec
						
						</div>
					
					</div>
					<div id=''class='col-xs-12 hostHigh'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Entry Processes
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].entryPro}}
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style=';height:5vh;padding:1%;'>
						<div id=''class='col-xs-6'style=''>
						Processes
						
						</div>
						<div id=''class='col-xs-6'style='text-align:center;'>
						{{servers[selIndex].process}}
						
						</div>
					
					</div>
				
				</div>



			</div>
			
	</div>


</div>