<div id=''class=''style=''>

  <!-- DESKTOP -->
  <div id=''class='hidden-sm hidden-xs col-md-12 col-lg-12 sign 'style='padding:0;overflow:hidden;'>
     <div  id=''parallax-background parallax-ratio="0.6" class='col-md-12 parallaxPic hiddenImageLarge'style='background:url(images/wallpaper/stock2-min.jpg)no-repeat;background-size:cover;'>

     </div>
     <div  id=''parallax-background parallax-ratio="0.6" class='col-md-12 parallaxPic hiddenImageSmall'style='background:url(images/wallpaper/stock2-min.jpg)no-repeat;background-size:cover;height:45vh;'>

     </div>

     <div id='mainDeskBoxOne'class='col-md-12 whiteTextBox 'style=''>
        <div id=''class='col-md-8 col-md-offset-2'style='padding:1%;height:100%;'>
          <div id=''class='col-md-4 muli'style='text-align:right;padding-top:2%;'>
           <p>Minimum viable product experiential ideate innovate ship it cortado waterfall is so 2000 and late pitch deck thinker-maker-doer paradigm waterfall is so 2000 and late. Bootstrapping viral paradigm user centered design human-centered design workflow user story disrupt latte physical computing responsive sticky note driven. Earned media 360 campaign piverate affordances minimum viable product hacker sticky note. Food-truck long shadow cortado convergence innovate entrepreneur co-working agile pitch deck 360 campaign cortado. Prototype affordances entrepreneur ship it cortado disrupt earned media food-truck paradigm.</p>
          
          <p>Prototype personas latte fund personas pitch deck affordances entrepreneur ideate cortado food-truck. Entrepreneur human-centered design big data agile waterfall is so 2000 and late workflow affordances driven iterate. Pitch deck minimum viable product paradigm pivot affordances convergence disrupt convergence affordances parallax co-working food-truck. User story minimum viable product ideate minimum viable product parallax big data ship it.</p>

          
          </div>
          <div id='mainDeskImageTwo'class='col-md-7 col-md-offset-1'style='background:url(images/innerImages/stock1.jpg)no-repeat;background-size:100% 100%;height:80%;'>

          
          
          </div>
        
        </div>
     
     </div>
      <div parallax-background parallax-ratio='0.0' class='col-md-12 imageShadow'style='height:70vh;padding:0;background:url(images/wallpaper/stock3-min.jpg)no-repeat;background-size:100%100%;'>

      </div>
      <div id='mainDeskBoxTwo'class='col-md-12  'style='height:67vh;'>
            <div id=''class='col-md-8 col-md-offset-2'style='height:100%;'>
              <div id=''class='col-md-7'style='padding:3%;'>
                  <div ng-repeat='serv in server'id=''class='col-md-4 'style='margin-bottom:3%;'>
                    <div ng-if='$index >= 3' id=''class='col-md-12 col-md-offset-10 serverDeals'style=' padding:0;'>
                      <div id=''class='col-md-12 serverName boxesHeight oswald'style=''>
                      
                      {{serv.name}}
                      </div>
                      <div id=''class='col-md-12 serverBandwidth boxesHeight cant'style=''>
                      {{serv.bandwidth}}Gb Bandwidth
                      
                      </div>
                      <div id=''class='col-md-12 serverStorage boxesHeight cant'style=''>
                      {{serv.storage}} GB of storage
                      
                      </div>
                      <div id=''class='col-md-12 serverPrice boxesHeight cant'style=''>
                      {{serv.price | currency}}/Month
                      
                      </div>
                      <div id=''class='serverOrder boxesHeight'style=''>
                      
                      
                      </div>
                    
                    </div>
                    <div ng-if='$index < 3 ' id=''class=' serverDeals'style=' '>
                      <div id=''class='col-md-12 serverName boxesHeight oswald'style=''>
                      
                      {{serv.name}}
                      </div>
                      <div id=''class='col-md-12 serverBandwidth boxesHeight cant'style=''>
                      {{serv.bandwidth}}Gb Bandwidth
                      
                      </div>
                      <div id=''class='col-md-12 serverStorage boxesHeight cant'style=''>
                      {{serv.storage}} GB of storage
                      
                      </div>
                      <div id=''class='col-md-12 serverPrice boxesHeight cant'style=''>
                      {{serv.price | currency}}/Month
                      
                      </div>
                      <div id=''class=''style=''>
                      
                      
                      </div>
                    
                    </div>
                  
                  
                  </div>
                            
                            </div>              
             <div id=''class='col-md-4 col-md-offset-1 muli'style='text-align:left;padding:1%;'>
                <p>User centered design SpaceTeam human-centered design pivot unicorn engaging integrate co-working fund affordances disrupt. Prototype big data physical computing ship it paradigm thinker-maker-doer personas. Iterate engaging ship it bootstrapping iterate engaging ship it responsive venture capital. Personas engaging engaging agile integrate workflow innovate thinker-maker-doer.</p>
<p>Thinker-maker-doer 360 campaign user story grok experiential thought leader innovate co-working latte parallax iterate. Responsive parallax iterate quantitative vs. qualitative innovate innovate user story grok iterate thinker-maker-doer personas unicorn. Pitch deck ship it personas long shadow long shadow innovate 360 campaign workflow.</p>
<p>Pivot convergence user story physical computing user centered design responsive quantitative vs. qualitative prototype physical computing entrepreneur SpaceTeam SpaceTeam. Piverate cortado agile agile agile prototype agile pivot convergence workflow responsive actionable insight. Thought leader moleskine big data food-truck latte personas fund parallax hacker personas thinker-maker-doer intuitive convergence pitch deck.</p>
             </div>
              
            
            </div>
      
      </div>
  </div>

  <!-- MOBILE -->
  <div id=''class='hidden-md hidden-lg col-xs-12'style='padding:0;'>
      <div parallax-background parallax-ratio='0.2'id=''class='col-xs-12'style='height:35.2vh;padding:0;background:url(images/wallpaper/stock2-min.jpg)no-repeat;background-size:100% 120%;'>
      
      
      </div>
      <div id=''class='col-xs-12 whiteTextBox sign'style=''>
        <div id=''class='col-xs-12'style='padding:1%;height:100%;'>
          <div id=''class='col-xs-12 'style='text-align:right;padding-top:2%;'>
           <p>SpaceTeam agile convergence big data workflow workflow engaging. Pitch deck personas pair programming bootstrapping pivot responsive viral viral experiential paradigm food-truck entrepreneur. Hacker driven intuitive unicorn sticky note viral user story bootstrapping intuitive. Earned media cortado viral iterate convergence responsive actionable insight viral.</p>
<p>Prototype cortado pivot convergence physical computing innovate convergence human-centered design waterfall is so 2000 and late iterate. 360 campaign fund latte cortado human-centered design physical computing workflow ideate Steve Jobs sticky note integrate unicorn prototype workflow. Affordances pivot earned media pair programming long shadow iterate 360 campaign human-centered design responsive waterfall is so 2000 and late entrepreneur pivot. SpaceTeam minimum viable product thought leader human-centered design food-truck engaging viral co-working pivot entrepreneur grok sticky note SpaceTeam latte.</p>
          </div>
          <div id=''class='col-xs-12'style='background:url(images/innerImages/stock1.jpg)no-repeat;background-size:100% 100%;height:40vh;'>

          
          
          </div>
        
        </div>
     
     </div>
     <div parallax-background parallax-ratio='0.05'parallax-vertical='10.5' class='col-xs-12 imageShadow'style='height:25vh;padding:0;background:url(images/wallpaper/stock3-min.jpg)no-repeat;background-size:100%150%;'>

      </div>
       <div id=''class='col-xs-12 whiteTextBox sign'style=''>
            <div id=''class='col-xs-12'style='height:100%;'>
              <div id=''class='col-xs-12'style='padding:3%;'>
                  <div ng-repeat='serv in server'id=''class='col-xs-10'style='margin-bottom:3%;'>
                    <div ng-if='$index >= 3' id=''class='col-xs-12 serverDeals'style=' padding:0;height:20vh;'>
                      <div id=''class='col-xs-12 serverName boxesHeight oswald'style='padding:1%;'>
                      
                      {{serv.name}}
                      </div>
                      <div id=''class='col-xs-12 serverBandwidth boxesHeight cant'style='padding:1%;'>
                      {{serv.bandwidth}}Gb Bandwidth
                      
                      </div>
                      <div id=''class='col-xs-12 serverStorage boxesHeight cant'style='padding:1%;'>
                      {{serv.storage}} GB of storage
                      
                      </div>
                      <div id=''class='col-xs-12 serverPrice boxesHeight cant'style='padding:1%;'>
                      {{serv.price | currency}}/Month
                      
                      </div>
                      <div id=''class='serverOrder boxesHeight'style=''>
                      
                      
                      </div>
                    
                    </div>
                    <div ng-if='$index < 3 ' id=''class=' serverDeals'style=' '>
                      <div id=''class='col-xs-12 serverName boxesHeight oswald'style=''>
                      
                      {{serv.name}}
                      </div>
                      <div id=''class='col-xs-12 serverBandwidth boxesHeight cant'style=''>
                      {{serv.bandwidth}}Gb Bandwidth
                      
                      </div>
                      <div id=''class='col-xs-12 serverStorage boxesHeight cant'style=''>
                      {{serv.storage}} GB of storage
                      
                      </div>
                      <div id=''class='col-xs-12 serverPrice boxesHeight cant'style=''>
                      {{serv.price | currency}}/Month
                      
                      </div>
                      <div id=''class=''style=''>
                      
                      
                      </div>
                    
                    </div>
                  
                  
                  </div>
                            
                            </div>              
             
             <div id=''class='col-xs-12 'style='text-align:left;padding:5%;'>
             
               <p>Entrepreneur SpaceTeam personas iterate human-centered design parallax disrupt human-centered design pitch deck. Affordances paradigm entrepreneur thinker-maker-doer fund actionable insight parallax ideate. Experiential innovate paradigm innovate experiential pitch deck waterfall is so 2000 and late. Co-working innovate paradigm iterate earned media disrupt human-centered design big data user centered design driven driven long shadow. Engaging minimum viable product workflow thought leader food-truck experiential disrupt ship it pair programming.</p>


              <p>Affordances physical computing pivot entrepreneur driven integrate human-centered design engaging minimum viable product human-centered design grok. Grok driven experiential pitch deck latte latte bootstrapping quantitative vs. qualitative actionable insight 360 campaign driven Steve Jobs engaging. Driven pitch deck thinker-maker-doer actionable insight disrupt affordances grok fund physical computing personas parallax waterfall is so 2000 and late. Viral venture capital viral responsive pitch deck innovate affordances quantitative vs. qualitative personas SpaceTeam food-truck user centered design. Personas convergence prototype grok actionable insight pitch deck quantitative vs. qualitative hacker SpaceTeam disrupt.</p>


              <p>SpaceTeam grok human-centered design earned media piverate human-centered design fund moleskine cortado. Ideate unicorn integrate entrepreneur bootstrapping actionable insight hacker human-centered design. SpaceTeam hacker prototype SpaceTeam ideate co-working intuitive viral entrepreneur physical computing intuitive pivot user story. User centered design fund integrate entrepreneur experiential piverate quantitative vs. qualitative co-working workflow prototype affordances venture capital.</p>
             
             </div>
              
            
            </div>
      
      </div>
  
  </div>


</div>