<div id=''class=''style=''>

	<!-- DESKTOP -->
	<div id=''class='hidden-sm hidden-xs col-md-12 col-lg-12 oswald'style='padding:0;position:relative;z-index:900;'>
		<div id=''class='col-md-12 col-lg-12 navMenuStyle'style=''>
			<div id=''class='col-md-4'style='height:75%;'>
				<a ng-href='#/'><img src="images/atabyte.png" class='col-md-12'style='height:100%;'/></a>
			
			</div>
			<div id=''class='col-md-6'style='float:right;height:75%;'>
				<a ng-href='#/hosts'class='navDeskLinks'style='color:white;'>
					<div id=''class='col-md-2 col-md-offset-6 deskMainLinks 'style='height:100%;;'>
					Services  
				
					</div>
				</a>

				<a ng-href='#/domain'class='navDeskLinks'style='color:white;'>
					<div id=''class='col-md-2 deskMainLinks 'style='height:100%;;'>
					Domains  
				
					</div>
				</a>
				<a ng-href='#/centers'class='navDeskLinks'style='color:white;'>
					<div id=''class='col-md-2 deskMainLinks 'style='height:100%;;'>
						Data Centers 
				
					</div>
				 </a>
			
			</div>
			<div id=''class='col-md-12'style='height:25%;padding:0;background:#223740;font-size:1.1em;'>
					
				<div id=''class='col-md-2'style='height:100%;'>
					Client Login
				</div>
				<div id=''class='col-md-5'style='height:100%;float:right;padding:0;'>
					<div id=''class='col-md-6'style='text-align:right;'>
						<a href='mailTo:support@Atabyte.net'>Email Us</a>
					
					</div>
					<div id=''class='col-md-6'style='text-align:right;'>
						Call
						+1-777-777-7777
					
											
					
					</div>
					
				</div>
			</div>
			</div>	
		
	</div>

	<!-- MOBILE -->
	<div id=''class='hidden-md hidden-lg oswald'style='position:relative;z-index:60;'>
		<div id=''class='col-xs-12 navMenuStyle'style=''>
			<div id=''class='col-xs-9'style='height:100%;;'>
				<a ng-href='#/'><img src='images/atabyte.png'class='col-xs-12'style=''/></a>
			
			</div>
			<div id=''class='col-xs-3'style=';height:100%;text-align:center;'ng-click='mobileDisplay = !mobileDisplay'>
				<span class='col-xs-12'style='font-size:1.2em;'>Menu</span>
				<span class='glyphicon glyphicon-align-justify'style='font-size:2.3em;'></span>
			</div>
			<div ng-if='mobileDisplay == true' id=''class='col-xs-12'style=';height:100vh;padding:0;'>
				<div id=''class='col-xs-8'style='height:40%;background:#fff;float:right;background:#223740;padding:0;'>
					<div id=''class='deskMobileLinks'style='height:33.33%;border-bottom:1px solid white;padding:2%;font-size:2.0em;'ng-click='mobileDisplay = false;'>
					
						<a ng-href='#/hosts'class='col-xs-12'style='height:100%;'>Services</a>
					</div>
					<div id=''class='deskMobileLinks'style='height:33.33%;border-bottom:1px solid white;padding:2%;font-size:2.0em;'ng-click='mobileDisplay = false;'>
						<a ng-href='#/domain'class='col-xs-12'style='height:100%;'>Domains</a>
					
					</div>
					<div id=''class='deskMobileLinks'style='height:33.33%;padding:2%;font-size:2.0em;'ng-click='mobileDisplay = false;'>
						<a ng-href='#/centers'class='col-xs-12'style='height:100%;'>Data Centers</a>
					
					</div>
				
				</div>
			
			
			</div>


		</div>
	
	</div>


</div>