<div id=''class=''style=''>

	<!-- DESKTOP -->
	<div id=''class='hidden-sm hidden-xs col-md-12 col-lg-12'style='padding:0;background:#28374A'>
		<div id=''class='col-md-12 col-lg-12'style='height:10vh;padding:0;background:#28374A;color:white;padding:0;'>
			<div id=''class='col-md-4'style='height:75%;padding:1$;'>
				<img src="images/atabyte.png" class='col-md-12'style='height:100%;'/>
			
			</div>
			<div id=''class='col-md-6'style='float:right;height:75%;'>
				<div id=''class='col-md-2 col-md-offset-6'style='height:100%;padding:1%;'>
					Services
				
				</div>
				<div id=''class='col-md-2'style='height:100%;padding:1%;'>
					Domains
				
				</div>
				<div id=''class='col-md-2'style='height:100%;padding:1%;'>
					Data Centers
				
				</div>
			
			</div>
			<div id=''class='col-md-12'style='height:25%;padding:0;background:#223740'>
					
				<div id=''class='col-md-2'style='height:100%;'>
					Client Login
				</div>
				<div id=''class='col-md-5'style='height:100%;float:right;'>
					<div id=''class='col-md-6'style=''>
						Email Us
					
					</div>
					<div id=''class='col-md-6'style=''>
						<span class='col-md-4'>Call</span>
						<span class='col-md-8'>+1-777-777-7777</span>
					
											
					
					</div>
					
				</div>
			</div>
			</div>	
		
	</div>

	<!-- MOBILE -->
	<div id=''class='hidden-md hidden-lg'style=''>
	
	
	</div>


</div>